@import "./base/reset";
@import "./helpers/variables";
@import "./helpers/mixin";
@import "./helpers/media.scss";
/* HEADER */

body {
  margin-bottom: 0px;
  background-color: #f7f7f7;
}

.cart__products {
  p {
    margin: 0 0 16px;
  }

  h2 {
    margin: 0;
  }
}

.btn {
  position: relative;
  border: 0;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Muli';
  font-size: 14px;
  line-height: 14px;
  background-color: #294d5c;
  cursor: pointer;
  transition: all 0.15s;
  margin-left: 8px;

  &:hover {
    outline: none;
    background-color: #5f9db8;
  }

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }

  &:active {
    transform: scale(0.95);
  }
}

.gradient-custom {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
}

header #navbarColor01 {
  a {
    transition: 0.3s all ease-in-out;

    &:hover {
      transform: scale(1.15);
    }
  }
}

.nav1 {
  @include nav(flex-start);
}

.nav2 {
  @include nav(flex-end);
}


/* BANNER */
nav.black {
  background: rgba(0, 0, 0, 0.8);
}

.banner-image {
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)),
    url(../img/banner.jpg);
  background-size: cover;
  background-position: center;

  .btn {
    font-size: 18px;
  }
}

.banner-phone-image img {
  width: 800px;
}

.star-rating {
  a {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;

    &:hover {
      color: #fff;
    }
  }
}

.aa {
  line-height: 26px;
}

/* //BANNER */

/* CART-POPUP */
.form {
  position: relative;
}

.form__footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 24px;
}

.red-btn {
  background-color: #df461f;

  &:hover {
    background-color: #e96443;
  }
}

.yellow-btn {
  background-color: #f0b80f;

  &:hover {
    background-color: #f1ca55;
  }
}

.microcopy {
  display: block;
  color: #9da3af;
  font-size: 14px;
  margin-top: 4px;
}

//tag a remove in js
a {
  color: #e2007a;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  tfoot {

    td,
    th {
      padding-top: 12px;
    }
  }
}

tbody {
  tr {
    .align-right {
      text-align: right;
    }

    .align-left {
      text-align: left;
    }

    td {
      padding-bottom: 12px;
    }

    th {
      padding-bottom: 12px;

      small {
        font-size: 75%;
        color: #9da3af;
      }
    }

    .font-normal {
      font-weight: normal;
    }

    #priceTotal {
      font-weight: 600;
    }
  }
}

.tertiary {
  color: #9da3af;
}

.cart.is-hidden {
  .cart__overlay {
    opacity: 0;
    visibility: hidden;
  }

  .cart__contents {
    transform: translate(0, 0);
  }
}

.meh {
  position: relative;
  color: #405461;
  font-family: 'Muli';

  .cart__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: all 0.25s ease-in;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .cart__contents {
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 100%;
    width: 500px;
    height: 92%;
    overflow: auto;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
    transform: translate(-100%, 0);
  }
}

.cart__products {
  padding: 28px;

  .products {
    margin: 24px 0 0;
  }
}

.cart__totals {
  @extend .cart__products;
  background-color: #f7f7f7;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  border-bottom: 1px solid #ccc;

  &:last-child {
    padding-bottom: 0;
    border-bottom-width: 0;
  }

  .product__thumbnail {
    width: 120px;
    height: 120px;
    border-radius: 3px;
    background-color: #fff;
  }

  .product__details {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    flex-grow: 1;
  }

  .product__1 {
    display: flex;
  }
}

.first {
  order: 1;
}

.product__name {
  font-weight: bold;
}

.product__stuff {
  margin-top: 8px;
  font-size: 14px;
}

.product__options {
  margin-top: 8px;
  font-size: 14px;
}



/*****STYLE FOR ADD/REMOVE PRODUCT FOR JS******/
.product__2 {
  display: flex;
  align-items: center;
  padding-top: 16px;

  div {
    flex: 1 1 auto;
  }

  .product__price {
    text-align: right;
  }
}

/* cart count icon */
.nav-link .badge {
  position: relative;
  padding: 0.2em 0.5em;
  top: -10px;
  left: -12px;
  z-index: 1;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.qty {
  .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
  }

  .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    margin-top: 1px;

    font: 20px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-color: #284c5b !important;

    &:hover {
      background-color: #4166af !important;
    }
  }

  .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 20px;
    height: 20px;
    margin-top: 1px;
    font-family: 20px Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #284c5b !important;

    &:hover {
      background-color: #4166af !important;
    }
  }

  /*Prevent text selection*/

  .quantityResult {
    font-size: 17px;
    font-weight: 600;
  }

};

/* //COUNT BUTTON */

/* PRODUCT CARD */

.card {
  border: solid 1px rgb(238, 238, 238);
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  transition: 0.3s all ease-in-out;
  height: 600px;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  &:hover {
    border: none;
    box-shadow: #293e63 0px 22px 70px 4px;
    transform: scale(1.1);
    z-index: 1;
  }
}

.card {
  .content-overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 120%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 0.9em;
    padding-right: 0.9em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

    h3 {
      color: #fff;
      font-weight: 500;
      letter-spacing: 0.15em;
      margin-bottom: 0.5em;
      font-size: 1.5em;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    p {
      color: #fff;
      font-size: 1em;
    }
  }
  &:hover {
    .content-overlay {
      opacity: 1;
    }

    .content-details {
      top: 40%;
      left: 50%;
      opacity: 1;
    }
  }
  .fadeIn-top {
    top: 20%;
  }
}



.card-img {
  padding-top: 10px;
  width: inherit;
  height: 200px;
  object-fit: contain;
  display: block;
}

.card{
  .btn {
    font-size: 17px;
    border-radius: 20px;
    position: absolute;
    top: 100%;
    left: 25%;
    transition: all 0.5s;
    z-index: 1;
    background-color: #daa300;
    opacity: 0;
    &:hover {
      background-color: #f0b70e;
    }
  }
  &:hover{
    .btn:active {
      transition: all 0.15s ease-in-out 0s;
      background-color: #ffdc74;
    }
    .btn {
      top: 85%;
      opacity: 1;
    }
  }
  span {
    font-weight: 400;
    font-size: 14px;
  }
  b {
    font-weight: 600;
  }
  h5 {
    font-size: 16px;
  }
  .text-muted {
    font-size: 16px;
  }
  .card-body {
    padding-bottom: 0;
    min-width: fit-content;
    .brand-box {
      border: 1px solid #eaeaea;
      border-radius: 5px;
      width: fit-content;
      background-color: #eaeaea;
      padding: 0 5px;
    }
  }
}

/* //PRODUCT CARD */

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /*height: 65rem;*/
}

