.btn {
  border: 0;
  color: rgba(255, 255, 255, 0.85);
  background-color: #294d5c;
  transition: all 0.15s;

  &:hover {
    outline: none;
    background-color: #5f9db8;
  }

  &:focus {
    outline: 0;
    box-shadow: none !important;
    box-shadow: 0 0 0 2px #404b61, inset 0 0 0 2px #ffffff;
  }

  &:active {
    transform: scale(0.95);
    background-color: #294d5c;
  }
}

.btn-banner:hover {
  background-color: #ffffff;
}

#btnDelete {
  background-color: #e7380c !important;

  &:hover {
    background-color: #e96949;
  }
}

#btnEdit,
#btnAddPhone,
#btnUpdate {
  background-color: #f0b80f !important;

  &:hover {
    background-color: #f1ca55;
  }
}
