$w: 250px;
$h: 250px;
$body-padding-top: 70px;
$body-margin-bottom: 0px;
$body-background-color: #f7f7f7;

$p-margin: 0 0 16px;

$h2-margin: 0;

$strong-font-weight: 600;

$main-background-color: #ffffff;
$main-border-radius: 10px;

$main-color-background: #2c5364;

$gradient-custom-background: linear-gradient(
  rgba(29, 38, 113, 0.8),
  rgba(195, 55, 100, 0.8)
);

$navbar-transition-duration: 0.3s;
$navbar-hover-scale: 1.15;

$black-background: rgba(0, 0, 0, 0.8);

$nav1-justify-content: flex-start;
$nav2-justify-content: flex-end;

$phoneBanner-background-color: rgba(29, 38, 113, 0.7);
$phoneBanner-border-radius: 10px;

$footer-bottom: 0;
$footer-width: 100%;
$modal-width: 450px;
$modal-min-height: 500px;
$modal-border-radius: 5px;
$modal-margin: 2% auto;
$modal-box-shadow: 0 9px 50px hsla(216, 83%, 68%, 0.31);
$modal-padding: 2%;
$modal-background: linear-gradient(250deg, #e3ecfd, #fff0e8);
$heading-font-size: 210%;
$heading-color: #3e403f;
$form-group-padding: 5px 0;
$sp-thongbao-color: red;
$input-group-text-padding: 0.7rem 0.75rem;
